name: Node.js Package

on:
  push:
    branches:
      - "main"

jobs:
  publish:
    runs-on: ubuntu-latest
    env:
      NPM_AUTH_TOKEN: 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
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org/
      - run: npm i
      - run: npm run build
      - run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: 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